[submodule "third_party/linenoise-ng"]
	path = third_party/linenoise-ng
	url = https://github.com/arangodb/linenoise-ng.git
[submodule "third_party/backward-cpp"]
	path = third_party/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "third_party/omr"]
	path = third_party/omr
	url = https://github.com/dnakamura/omr.git
